<h1 class="text-center">Authors</h1>
<a class="btn btn-success" [routerLink]="['/author/add']">Add Author</a>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Info</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of authors.data">
            <td>{{a.name}}</td>
            <td><a [routerLink]="['/author/details/', a.id]"><fa-icon [icon]="faInfo"></fa-icon></a></td>
            <td><a [routerLink]="['/author/edit/', a.id]"><fa-icon [icon]="faPenNib"></fa-icon></a></td>
            <td><a [routerLink]="['/author/delete/', a.id]"><fa-icon [icon]="faCross"></fa-icon></a></td>
        </tr>
    </tbody>
</table>