<div class="container">
    <h1 class="p-5 text-center">{{book.data.title}}</h1>  
    <div class="row mb-5">
        <div class="col-lg-6">
            <a [routerLink]="['/book/edit', bookId]" class="btn btn-primary w-100 p-3">Edit book</a>
        </div>
        <div class="col-lg-6">
            <a [routerLink]="['/book/delete', bookId]" class="btn btn-secondary w-100 p-3">Delete Author</a> 
        </div>
    </div>
    <h3 class="p-3 text-center">Details</h3> 
    <table class="table mb-5">
        <thead>
            <tr>
                <td>Title</td>
                <td>Type</td>
                <td>Author</td>
                <td>Published date</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{book.data.title}}</td>
                <td>{{genre[book.data.type]}}</td>
                <td>{{book.data.author.name}}</td>
                <td>{{book.data.publishedDate}}</td>
            </tr>
        </tbody>
    </table>
</div>



